.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section{
  
  
  display:flex;
 align-items: center;
}
.right-section{
 
 display: flex;
 width:200px;
 margin-right: 20px;
align-items: center;
justify-content: space-between;
flex-shrink: 0;
}
.middle-section{
 
  display: flex;
  flex: 1;
  margin-left: 70px;
  max-width: 500px;
 align-items: center;

}

.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
  width:0px;
 
}

.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 16px;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo{
  height: 20px;
}
.search-button{
  height: 40px;
  width:66px;
  background-color: rgb(203, 203, 203);
  border-width: 1px;
  border-style: solid;
  border-color:rgb(203, 203, 203);
   margin-left: -1px;
   margin-right: 8px;
}

.search-icon{
  height: 20px;
  margin-top: 4px;

}

.voice-button
{
  height:40px ;
  width:60px;
  border-radius: 20px;
  border:none;
  background-color:  rgb(240, 238, 238);;
}

.voice-search-icon{

  height: 24px;
  margin-top: 4px;
  background-color: rgb(240, 238, 238);

}

.upload-icon{
  height: 24px;

}

.youtube-apps-icons{
  height: 24px;
}
.notifications-icons{
  height: 24px;
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
}